.board{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}
.title{
    margin: 12px;
    padding: 13px;
}

.information{
    margin: 12px;
    padding: 13px;
}
.containerTI{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPI{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board p{
    padding: 1rem;
}

.containerTitle {
    border-bottom-style: outset;
    margin: 15px;
}

.containerFiltrer p{
    font-size: 40px;
    margin-right: 35px;
}

select {
    font-size: 25px;
}

.containerFiltrer{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.containerTasks {
    background: #7d62e5;
    width: 90%;
    min-height: 33rem;
    border-radius: 21px;
    border: 10px solid;
    border-color: #0e0e0e80;
}

section{
    display: flex;
    justify-content: center;
}